// Variables for colors
$primary-color: #333;
$text-color: white;

// Landing page
.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 4rem;
    }
}

// Kitchen scroll from right (basic scroll animation)
.kitchen {
    position: absolute;
    right: -40%;
    /* Start offscreen */
    animation: scrollFromRight 3s forwards;
    opacity: 1;
}

@keyframes scrollFromRight {
    to {
        right: 50%;
        /* Scroll to middle */
        transform: translateX(-50%);
    }
}

// Cookbook scroll from left (basic scroll animation)
.cookbook {
    position: absolute;
    left: -40%;
    /* Start offscreen */
    animation: scrollFromLeft 3s forwards;
    opacity: 1;
}

@keyframes scrollFromLeft {
    to {
        left: 50%;
        /* Scroll to middle */
        transform: translateX(50%);
    }
}