// Variables for colors
$primary-color: #333;
$text-color: white;

// Landing page
.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 4rem;
    }
}

// Kitchen scroll from right (basic scroll animation)
.kitchen {
    position: absolute;
    right: -50%;
    /* Start offscreen */
    animation: scrollFromRight 3s forwards, fadeOut 0.5s forwards 3.5s;
    /* Add fade-out */
    opacity: 1;
}

@keyframes scrollFromRight {
    to {
        right: 50%;
        /* Scroll to middle */
        transform: translateX(-50%);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

// Cookbook scroll from left (basic scroll animation)
.cookbook {
    position: absolute;
    left: -0%;
    /* Start offscreen */
    animation: scrollFromLeft 3s forwards, fadeOut 0.5s forwards 3.5s;
    /* Add fade-out */
    opacity: 1;
}

@keyframes scrollFromLeft {
    to {
        left: 50%;
        /* Scroll to middle */
        transform: translateX(50%);
    }
}

// Final "Kitchen Cookbook" text fades in after scrolling text disappears
.finalText {
    position: absolute;
    font-size: 4rem;
    opacity: 0;
    animation: fadeIn 1s forwards 4s;
    /* Fades in after scrolling text fades out */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}