// Variables for colors
$primary-color: #333;
/* Dark background */
$text-color: white;
/* Text color should be visible */

// Landing page
.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 4rem;
    }
}

// Initial render of Kitchen and Cookbook (no animation for now)
.kitchen {
    position: absolute;
    right: 50%;
    /* Static for now */
    transform: translateX(-50%);
}

.cookbook {
    position: absolute;
    left: 50%;
    /* Static for now */
    transform: translateX(50%);
}

// Disable fade-in for now
.finalText {
    position: absolute;
    font-size: 4rem;
    opacity: 0;
    /* Keep it hidden for now */
}