// Variables for colors
$primary-color: #333;
$secondary-color: #f0f0f0;
$text-color: white;


// Landing page
.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $primary-color;
    color: $text-color;
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 4rem;
    }
}

// Kitchen scroll from right
.kitchen {
    position: absolute;
    right: -50%;
    animation: scrollFromRight 3s forwards;
}

@keyframes scrollFromRight {
    to {
        right: 40%;
        transform: translateX(-60%);
    }
}

// Cookbook scroll from left
.cookbook {
    position: absolute;
    left: -65%;
    animation: scrollFromLeft 3s forwards;
}

@keyframes scrollFromLeft {
    to {
        left: 50%;
        transform: translateX(60%);
    }
}

// Styling after the animation is complete
.finalText {
    position: absolute;
    font-size: 4rem;
    opacity: 0;
    animation: fadeIn 1s forwards 3s; // Starts after the text finishes crossing
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}