.loginFormWrapper {
    position: fixed; // Use fixed to keep it in view
    top: 20%;
    left: 90%;
    transform: translate(-50%, -50%); // Center the form
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1000; // Ensure it stays above other content
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;

    &:hover {
        color: #000;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        padding: 10px;
        border: 3px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;

        &:focus {
            outline: none;
            border-color: #007bff;
        }
    }

    button[type="submit"] {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
  }
}


@media (max-width: 768px) {
    .loginFormWrapper {
        width: 90%; // Adjust width for smaller screens
        max-width: 300px; // Ensure it doesn't get too wide on slightly larger phones
        padding: 15px; // Slightly reduce padding
    }

    .form {
        gap: 10px; // Reduce gap between form elements

        input, button[type="submit"] {
            padding: 8px; // Slightly reduce padding
            font-size: 0.9rem; // Slightly reduce font size
        }
    }
}

@media (max-width: 480px) {
    .loginFormWrapper {
        width: 95%; // Further adjust width for very small screens
        padding: 10px; // Further reduce padding
    }

    .closeButton {
        top: 5px;
        right: 5px;
        font-size: 1rem;
    }

    .form {
        gap: 8px; // Further reduce gap

        input, button[type="submit"] {
            padding: 6px; // Further reduce padding
            font-size: 0.8rem; // Further reduce font size
        }
    }
}