@import './mixins';

.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include mobile {
        gap: 10px;
    }
}

.cardContainer {
    width: 300px;
    height: 400px;

    @include mobile {
        width: 250px;
        height: 350px;
    }
}

.arrowButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #007bff;
    }

    @include mobile {
        font-size: 1.5rem;
    }
}