.cardLink {
    text-decoration: none;
    color: inherit;
}

.card {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.title {
    padding: 15px;
    margin: 0;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 1.2rem;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: calc(100% - 50px); // Adjust based on your title height
}