.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;

    &:hover {
        transform: rotateY(180deg);
    }

    .recipe {
        text-align: center;
        padding: 1rem;

        ul {
            list-style: none;
        }

        button {
            margin: 0.5rem;
        }
    }
}